﻿@page
@model Exam12019.Pages.Auth.LoginModel
@{
}
<div>Login Page</div>

<div>
    <form method="post">
        <div>
            <label asp-for="Form.Username"></label>
            <input asp-for="Form.Username" placeholder="UserName" />
            <span asp-validation-for="Form.Username"></span>
        </div>
        <div>
            <label asp-for="Form.Password"></label>
            <input asp-for="Form.Password" placeholder="Password" type="password" />
            <span asp-validation-for="Form.Password"></span>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</div>