﻿@page "{ID:Guid}"
@model Exam12019.Pages.Restaurant.DeleteModel
@{
}
<h1>Delete Restaurant Page</h1>
<p><a href="@Url.Page("./Show")">Show All Restaurant</a></p>
<br />
<div>
    <form method="post">
        Delete this restaurant @Model.Name ?
        <button type="submit">Delete</button>

    </form>
</div>