﻿@page "{ID:Guid}"
@model Exam12019.Pages.Restaurant.EditModel
@{
}
<h1>Edit Restaurant Page</h1>
<h3>@TempData["Msg"]</h3>
<p><a href="@Url.Page("./Show")">Show All Product</a></p>
<div>
    <form method="post">
        <div>
            <label asp-for="Form.Name"></label>
            <input asp-for="Form.Name" placeholder="Restaurant Name" />
            <span asp-validation-for="Form.Name"></span>
        </div>
        <div>
            <label asp-for="Form.Address"></label>
            <input asp-for="Form.Address" placeholder="Restaurant Address" />
            <span asp-validation-for="Form.Address"></span>
        </div>
        <div>
            <button type="submit">Update Restaurant</button>
        </div>
    </form>
</div>