﻿@page
@model Exam12019.Pages.Restaurant.ShowModel
@{
}
<h1>Show All Restaurants</h1>
<h3>@TempData["Msg"]</h3>
<p><a href="@Url.Page("/Index")">Back to index</a></p>
<p><a href="@Url.Page("./Create")">Create New Restaurant</a></p>
<br />
<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var restaurant in Model.Restaurants)
            {
                <tr>
                    <td>@restaurant.ID</td>
                    <td>@restaurant.Name</td>
                    <td><a href="@Url.Page("./Edit", new { ID = restaurant.ID })">Edit</a></td>
                    <td><a href="@Url.Page("./Delete", new { ID = restaurant.ID })">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

</div>

