﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    <div>Hello @User.Identity.Name</div>
    <a href="/Restaurant/Show">Kelola Restoran</a>
</p>
<p>
    <a href="@Url.Page("/Auth/Logout")">Logout</a>
</p>