﻿@page
@model Exam12019.Pages.Reservation.IndexModel
@{
}
<h1>Reservation Search Page</h1>

<div>
    <form method="post">
        <div>
            <label asp-for="ReservationID"></label>
            <input asp-for="ReservationID" value="" placeholder="Reservation ID" />
            <span asp-validation-for="ReservationID"></span>
        </div>
        <div><button type="submit">Search</button></div>
    </form>
    
</div>