﻿@page "{ID:Guid}"
@model Exam12019.Pages.Reservation.SearchModel
@{
}
<div>
    <div>ID : @Model.Details.ID</div>
    <div>Name : @Model.Details.Name</div>
    <div>Email : @Model.Details.Email</div>
    <div>RestaurantID : @Model.Details.RestaurantID</div>
    <div>Time : @Model.Details.ReservationTime</div>

</div>